<style>
    #background {
        height: 100vh;
        width: 100%;
        background-color: black;
        opacity: 0.27;
        position: fixed;
    }

    #brain {
        position: fixed;
        opacity: 0.1;
        display: block;
        width: 100%;
    }

    #welcome {
        margin: 0 auto;
        width: 800px;
        font-size: 2em;
        font-family: Calibri;
        text-align: center;
        position: relative;
    }

    .acronym {
        font-size: 3em;
        font-weight: bold;
        text-shadow: 4px 1.9px #647786;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
    }
</style>

<div id="background" style=""></div>

<img id="brain" src="~/Content/Images/ai.jpg" />

<div id="welcome">
    <p style="padding-top:50px;"><span class="acronym">E.M.M.A.</span></p>
    <p>Electronic Merchandising Management App</p>

</div>