<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="LogFolderLocation" value="c:\temp\StockReplenishment"/>
    <add key="LogKeepDays" value="5"/>
    <add key="url" value="https://*****.erply.com/api/" />
    <add key="clientcode" value="*****" />

    <add key="username" value="username" />
    <add key="password" value="password" />
    
    <add key="lastrundate" value="01/11/2018"/>
    <!-- <add key="RopesDatabase" value="\Ropes\Backend\Ropesv3Data.accdb" /> -->
    <add key="RopesDatabase" value="C:\Development\StockReplenishment\StockReplenishment.Installation\Ropesv3Data.accdb"/>
    <add key="RopesPickupFolder" value="c:\temp\StockReplenishment" />
    <add key="LogFolderLocation" value="c:\temp\StockReplenishment\Log"/>
  </appSettings>
  <connectionStrings>
    <add name="StockReplenishmentEntities" connectionString="metadata=res://*/StockReplenishment.csdl|res://*/StockReplenishment.ssdl|res://*/StockReplenishment.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DS;initial catalog=StockReplenishment;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
